<div class="bg-dark container-fluid">
  <h2 class="text-center text-muted">{{ title }}</h2>
  <div class= "p-15 text-center" *ngIf="jokesRes; else loadingBlock">
    {{ counter }}
    <app-jokes [jokesRes]="jokesRes"></app-jokes>
    <button (click)="newJoke()" class="btn btn-primary">New Joke</button>
  </div>
  <ng-template #loadingBlock>
    <div class="text-center">
      <div
        class="spinner-border spinner-grow-mg text-success"
        role="status"
      ></div>
      <div class="text-white">
        <span class="m-1">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>
