<div class="card d-flex flex-row">
    <div class="card-body ">
        <div class="d-flex  flex-col">
            <fa-icon class="text-primary px-3" [icon]="faClock" ></fa-icon>
            <p class="px-3 text-muted">{{ date | date }}</p>
        </div>
        <div class="d-flex flex-col">
            <fa-icon class="text-warning" [icon]="faComments" ></fa-icon>
            <p>{{ joke }}</p>
        </div>
    </div>
    <div class="card-img p-5 m-4 bg-info rounded-bottom rounded-right">
        <img class="border border-danger bg-danger rounded-circle" src="{{ iconURL }}" alt="Chuck norris">
    </div>
</div>

